header  {
  height: 100px;
  background-color: rgb(233, 203, 167);
  margin-bottom: 60px;

}

body{
  font-size:22px;
}

.header-container h1 {
  /* display: inline-block; */
  padding: 26px 0;
  text-align: center;
  margin: 0 auto;
}

.body-container {
  display: flex;
  padding-top: 10px;
  /* background-image: url("https://burst.shopify.com/@sarahpflugphoto?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Red+Apple+On+Old+Fashioned+Weighing+Scales&amp;utm_medium=referral&amp;utm_source=credit") */
}
.side {
  display: flex;
  flex-direction: column;
  /* float: left;
  display: block; */
}

.side button {
  height: 90px;
  width: 150px;
  font-size: 25px;
  margin-bottom: 50px;
  margin-left: 120px;
  text-align: center;

}

.main {
  margin: 0 auto;
}

.input-box {
  display: flex;
  text-align: center;
}

.input-box p {
  margin-left: 30px;
  margin-right: 30px;
}

.fukidashi {
  position: relative;
  padding: 20px;
  background-color: #fff3ad;
  border-radius: 20px;
  box-shadow: 6px 6px 0px 0px #c0aa4a;
  margin-bottom: 25px;
  text-align: center;
}

.fukidashi::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 27px;
  bottom: -18px;
  border-top: 15px solid #c0aa4a;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

input [type="number"] {
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

.result {
  margin-top: 100px;
  width: 400px;
  height: 170px;
  border: solid black  5px;
  text-align: center;
}

.result p {
  padding-top: 61px;
  padding-bottom: 61px;
  margin: 0;
}

.btn{
	text-decoration:none;
	color:#0f5155;
	display: block;
	font-family: 'Caveat', cursive;
	list-style-type: none;
	padding:10px;
	background-color:#ace3e6;
	border:1px solid #2B8185;
	margin:10px 0;
	text-align: center;
	border-radius: 40px;
}

.btn:hover{
	color: #ace3e6;
	background-color: #66b3b6;
}

.fruit{
  color:rgb(130, 55, 55);
  background-color:rgb(247, 134, 134);
}

.fruit:hover{
  color:rgb(244, 203, 203);
  background-color:rgb(129, 32, 32);
}

.fish{
  color:rgb(28, 52, 126);
  background-color: rgb(171, 190, 248);
}

.fish:hover{
  color:rgb(188, 203, 248);
  background-color: rgb(31, 70, 187);
}

.foods{
  color:rgb(243, 131, 32);
  background-color: rgb(248, 225, 204);
}

.foods:hover{
  color:rgb(242, 221, 202);
  background-color: rgb(235, 142, 60);
}

.decide{
  font-size: 17px;
}

#weight{
  width: 120px;
  text-align: center;
}

footer {
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 50px 0;
  background-color: rgb(233, 203, 167);
}
.footer-text {
  color: #fff;
}